<div class="flex flex-col items-center {{!currentWeatherLoaded ? 'pt-16 lg:pt-24' : ''}}">
  <h1 *ngIf="currentWeatherLoaded" class="text-4xl font-bold py-4">{{location}}</h1>
  <form
    [formGroup]="formGroup"
    (ngSubmit)="submitZipcode()"
    id="zipcodeForm"
    class="flex gap-2 items-center"
  >
    <label for="zipcode">Zipcode</label>
    <input
      type="number"
      formControlName="zipcode"
      data-test="zipcode"
      id="zipcode"
      class="border-2 w-24"
    />
    <button type="submit" class="bg-blue-300 text-white h-full px-2">
      Submit
    </button>
  </form>
  <div *ngIf="error">
    <p class="pt-2 text-red-600">There was no data found for your search.  Please try again.</p>
  </div>
  <div *ngIf="zipcodeError">
    <p class="pt-2 text-red-600">Please enter a 5 digit zipcode. Example (00000)</p>
  </div>
  <div *ngIf="currentWeatherLoaded">
    <div *ngFor="let weatherDay of currentWeather" class="flex flex-col py-4 border-b-2">
      <p class="text-3xl font-semibold pb-2">{{ weatherDay[0].date }}</p>
      <div class="flex gap-2">
        <div *ngFor="let weatherHour of weatherDay" class="w-1/8">
          <app-temp-card
            data-test="temp-card"
            [currentWeather]="weatherHour"
            [weatherType]="weatherType"
          ></app-temp-card>
        </div>
      </div>
    </div>
  </div>
</div>
